<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVTwYzuqJVCsLo8koVnn2pNUF3zVc-kR8</string>
	<key>GCM_SENDER_ID</key>
	<string>159534159850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gerejaApp2</string>
	<key>PROJECT_ID</key>
	<string>new-gereja-gpi</string>
	<key>STORAGE_BUCKET</key>
	<string>new-gereja-gpi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159534159850:ios:0557a7540cddcda6358493</string>
</dict>
</plist>